@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
    font-size: 62.5%;
}

body {
  font-family: 'Lato', sans-serif;
  font: 1.6rem;
}

.grid__container {
    display: grid;
    grid-template-areas:
    'header'
    'main'
    'footer';
    grid-template-columns: 1fr;
    height: 100%;
}

header {
  grid-area: header;
  background-color: #203040;
  color: #fff;
  display: flex;
  justify-content: space-between;   
  align-items: center;
  padding: 3rem;
}

header a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  font-size: 4rem;
  margin-right: 2rem;
  padding-right: 1rem;
}

header a:hover {
  color: #f08040;
}

.brand a {
  font-size: 5rem;
  margin-left: 3rem;
  padding-left: 1rem;
}

.nav-link a {
  font-size: 1.5rem;
}

.grid__container-movies {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 2.5rem;
  padding: 1.5rem;
  height: 100vh;
}

.grid__container-movie-lists {
  background-color: #fff;
  border: 1px solid rgba(0,0,0, 0.8);
  padding: 2rem;
  font-size: 3rem;
  text-align: center;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #203040;
  color: #fff;
  font-size: 1.5rem;
  padding: 3rem;

}

