@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Lato', sans-serif;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.5rem;
  border: 1px solid black;
  background: #203040;
  padding: 3rem;
  color: #fff;
}

.header a {
  color: #fff;
  font-size: 30px;
  text-decoration: none;
}

.header a:hover {
  color: #f08040;
}

.header-items {
  display: flex;
}

.header-items li {
  padding-top: 0.6rem;
  padding-right: 1rem;
  margin-right: 2rem;
  list-style: none;
}

.grid__container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #f08040;
  gap: 2.5rem;
  padding: 3rem;
}

.grid__container-cards {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 15px;
  text-align: center;
  border-radius: 7px;
  border-color: grey;
  font-family: 'Lato', sans-serif;
  color: #f08040;
  height: auto;
}

.modal-content {
  display: none;
  padding: 4rem;
  max-width: 100%;
  height: auto;
  border: 2px solid black;
  background-color: #fefefe;
}

.span-close {
  color: black;
  font-size: 30px;
  font-weight: 800;
  position: relative;
  left: 48%;
  right: 0;
  top: 0;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #203040;
  color: #fff;
  font-size: 1.2rem;
  padding: 3rem;
}

.modal-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid grey;
  padding: 1rem 0;
  background-color: #fff;
  height: auto;
  font-family: 'Lato', sans-serif;
  width: 768px;
  margin: 0 auto;
  border-radius: 6px;
}

.modal-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.5rem 5rem;
  border: 1px solid grey;
  border-radius: 7px;
  font-family: 'Helvetica', sans-serif;
  font-size: 13px;
  width: 500px;
  background-color: #f08040;
  color: #fff;
  padding: 15px;
}

.modal-description > * {
  padding: 0.2rem 0;
}

.modal-header2,
.modal-comments {
  margin-bottom: 1rem;
  font-family: 'Lato', sans-serif;
}

.comment-form {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-items: center;
  font-family: 'Lato', sans-serif;
}

.comment-form > * {
  margin-top: 0.5rem;
  padding: 0.5rem;
}

.form-btn {
  font-style: oblique;
  font-weight: bold;
  background-color: #f08040;
  padding: 5px;
  border: none;
  width: 20rem;
  border-radius: 7px;
  height: 5rem;
  cursor: pointer;
}

.comment-btn {
  background-color: #f08040;
  color: #000;
  font-size: medium;
  font-style: oblique;
  font-weight: bold;
  padding: 5px;
  border: none;
  width: 20rem;
  border-radius: 7px;
  height: 5rem;
}

.fas:hover,
.comment-btn:hover,
.span-close:hover {
  cursor: pointer;
}
